:root {
    --heading-font: font-family: 'Playfair Display', serif;
    --paragraph-font: font-family: 'Roboto', sans-serif;
    --primary-color: #F9F7FE;
    --secondary-color: #6C63FF;
}
.hero {
    text-align: center;
    background-color: var(--primary-color);
    padding: 160px 20px;
}
.hero h3 {
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
.hero h1 {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 10vmin;
    line-height: 128px;
    padding: 10px;
}
.hero h2 {
    font-family: var(--paragraph-font);
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    padding: 10px 10px 25px 10px;
}
.btn-branding {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 18px;
}
.featured-projects {
    font-family: var(--heading-font);
    font-size: 18px;
    line-height: 27px;
}
.project-description {
    padding: 120px 60px;
}
.project-heading {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 6vmin;
    line-height: 85px;
}
.project-content {
    font-family: var(--paragraph-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.btn-outline {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 4px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
#project {
    margin: 25px auto;
}
@media (max-width: 991px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
}
#about {
    padding: 160px 20px;
}
#about h1 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 10vmin;
}
#about h2 {
    font-family: var(--paragraph-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
#about p {
    font: var(--paragraph-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.work {
    padding: 160px 20px;
}
.work h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 64px;
    line-height: 85px;
    font-weight: 700;
}
.work h3 {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.work p {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 14px;
    line-height: 21px;
    color: #272142 70%;
}
.contact {
    padding: 160px 20px;
}
.contact h1 {
    font-family: var(--heading-font);
    font-size: 64px;
    line-height: 85px;
}